{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}

<div class="page-width{% if cart == empty %} is-empty{% endif %}" id="main-cart-footer" data-id="{{ section.id }}">
  <div>
    <div class="drawer__discount-code">
      <label for="CartDrawer-DiscountCode" class="label1">Discount Code</label>
      <div class="input-group">
        <input
          type="text"
          id="CartDrawer-DiscountCode"
          name="discount"
          class="input-group__field"
          placeholder="Enter discount code"
        >
        <button type="submit" class="button input-group__btn" id="apply-discount-button">Apply</button>
      </div>
    </div>
    <div class="cart__footer">
      {%- if settings.show_cart_note -%}
        <cart-note class="cart__note field">
          <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
          <textarea
            class="text-area field__input"
            name="note"
            form="cart"
            id="Cart-note"
            placeholder="{{ 'sections.cart.note' | t }}"
          >{{ cart.note }}</textarea>
        </cart-note>
      {%- endif -%}
      
      <div class="cart__blocks">
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'subtotal' -%}
              <div class="js-contents" {{ block.shopify_attributes }}>
                <div class="totals">
                  <h2 class="totals__subtotal">{{ 'sections.cart.subtotal' | t }}</h2>
                  <p class="totals__subtotal-value">{{ cart.total_price | money_with_currency }}</p>
                </div>

                <div>
                  {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <li class="discounts__discount discounts__discount--position">
                          {%- render 'icon-discount' -%}
                          {{ discount.title }}
                          (-{{ discount.total_allocated_amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>

                <small class="tax-note caption-large rte">
                  {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- elsif cart.taxes_included -%}
                    {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                  {%- elsif shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                  {%- else -%}
                    {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                  {%- endif -%}
                </small>
              </div>
            {%- else -%}
              <div class="cart__ctas" {{ block.shopify_attributes }}>
                <noscript>
                  <button type="submit" class="cart__update-button button button--secondary" form="cart">
                    {{ 'sections.cart.update' | t }}
                  </button>
                </noscript>

                <button
                  type="submit"
                  id="checkout"
                  class="cart__checkout-button button"
                  name="checkout"
                  {% if cart == empty %}
                    disabled
                  {% endif %}
                  form="cart"
                >
                  {{ 'sections.cart.checkout' | t }}
                </button>
              </div>

              {%- if additional_checkout_buttons -%}
                <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}
          {%- endcase -%}
        {% endfor %}

        <div id="cart-errors"></div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function (event) {
      document.querySelector('#cart').submit();
    });

    
  });
  
</script>
<script>
    let gifts_list = [];
    function getGiftSettings() {
      {% for i in (0..20) %}
        {% if forloop.first %}
          {% assign variant_id = 'free_gift_variant_id' %}
          {% if settings[variant_id] %}
            {% assign slug_ = settings[variant_id] %}
            {% assign product_id_ = all_products[slug_].selected_or_first_available_variant.id %}
            {% assign free_gift_codes_ = 'free_gift_codes' %}
            {% assign free_gift_threshold_amount_ = 'free_gift_threshold_amount' %}

            let free_g_1 = {
              product_id: "{{ product_id_ }}",
              FreeGiftThresholdAmount: {{ settings[free_gift_threshold_amount_] | json }},
              free_gift_codes: "{{ settings[free_gift_codes_] | default: '' }}"
            };
            free_g_1.free_gift_codes = free_g_1.free_gift_codes.toLowerCase();
            gifts_list.push(free_g_1);
          {% endif %}
        {% endif %}

        {% assign variant_id = 'free_gift_variant_id_' | append: i %}
        {% if settings[variant_id] %}
          {% assign slug_ = settings[variant_id] %}
          {% assign product_id_ = all_products[slug_].selected_or_first_available_variant.id %}
          {% assign free_gift_codes_ = 'free_gift_codes_' | append: i %}
          {% assign free_gift_threshold_amount_ = 'free_gift_threshold_amount_' | append: i %}

          let free_g_{{ i }} = {
            product_id: "{{ product_id_ }}",
            FreeGiftThresholdAmount: {{ settings[free_gift_threshold_amount_] | json }},
            free_gift_codes: "{{ settings[free_gift_codes_] | default: '' }}"
          };
          free_g_{{ i }}.free_gift_codes = free_g_{{ i }}.free_gift_codes.toLowerCase();
          gifts_list.push(free_g_{{ i }});
        {% endif %}
      {% endfor %}
     console.log(gifts_list);
   }

    document.querySelector('#apply-discount-button').addEventListener('click', getGiftSettings);
</script>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
